@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700);
.quote-widget {
    font: normal 1em 'Josefin Sans';
    transition: all 0.8s cubic-bezier(0.44, 1.13, 0.58, 1);
    margin-left:210px;
}
.quote-box {
    border-radius: 3px;
    position: relative;
    margin: 8% auto auto auto;
    width: 50%;
    padding: 35px 50px;
    background-color: #fff;
    overflow: hidden;
}
.quote-content {
    overflow: hidden;
    margin-bottom: 20px;
    opacity: 1;
    transition: all 0.8s cubic-bezier(0.44, 1.13, 0.58, 1);
}
i.fa.fa-quote-left {
    font-size: 1.8em;
    position: relative;
    top: 65px;
}
i.fa.fa-twitter {
    color: #fff;
}
.quote-text {
    font-size: 1.4em;
}
.author {
    font-size: 1.1em;
    font-weight: 600;
    float: right;
}
